
<header>
    <div class="navbar navbar-dark bg-success shadow-sm">
        <div class="nvbar-brand align-item-center d-flex">
            <span class="fa-stack fa-2x">
                <i class="fab fa-twitter fa-stack-1x "></i>
              </span>
              <span class="fa-stack fa-2x">
                <i class="fab fa-facebook fa-stack-1x"></i>
              </span>
              <span class="fa-stack fa-2x">
                <i class="fab fa-cc-visa fa-stack-1x fa-"></i>
              </span>
              <span class="fa-stack fa-2x">
                <i class="far fa-copyright fa-stack-1x fa-"></i>
              </span>
              <span class="fa-stack fa-2x">
                <i class="far fa-credit-card fa-stack-1x fa-"></i>
              </span>
              <span class="fa-stack fa-2x">
                <i class="fab fa-docker fa-stack-1x fa-"></i>
              </span>
        </div>
    </div>
</header>