<ng-container *ngIf="products.length ==0">
    <div class="container">
        <div class="center">
            <img src="https://rukminim1.flixcart.com/www/800/800/promos/16/05/2019/d438a32e-765a-4d8b-b4a6-520b560971e8.png?q=90" alt="">
            <h4>Your Cart is Empty!!!</h4>
            <h6>Add items now</h6>
            <button  routerLink="../products" class="btn btn-primary">Shop Now</button>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="products.length !=0">
    <div class="container">
        <div class="card table">
            <div class="cart product">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Sr.No</th>
                            <th>Product Name</th>
                            <th>Brand</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of products">
                            <td>{{item.cartId}}</td>
                            <td>{{item.product.productName}}</td>
                            <td>{{item.product.manufacturer}}</td>
                            <td> {{item.product.price  | currency :'INR'}}</td>
                            <td><button type="button" (click)="decreasequantity(item.cartId,item);"><i class="_23FHuj">-</i></button>
                            <span>{{item.quantity}}</span>
                            <button type="button" (click)="increasequantity(item.cartId,item)"><i class="_23FHuj">+</i></button></td>
                            <td>{{item.quantity*item.product.price | currency :'INR'}}</td>
                            <td>
                                <button (click)="removeItem(item.cartId)" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td><button (click)="removeall()" class="btn btn-danger">Empty Cart</button></td>
                            <td><button routerLink="../products" class="btn btn-primary">Shop More</button></td>
                            <td><button  routerLink="../confirmorder" class="btn btn-success">Place Order</button></td>
                            <td><strong >Total Amount : {{grandTotal | currency :'INR'}}</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ng-container>


